name: Go back to Development
on:
  workflow_dispatch:
  release:
    types: [published]
env:
  APP_ID: 251311
jobs:
  post-release:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app_token
        with:
          app-id: ${{ env.APP_ID }}
          private-key: ${{ secrets.TOKEN_EXCHANGE_GH_APP_PRIVATE_KEY }}
      - name: Checkout repository code
        uses: actions/checkout@v6
        with:
          token: ${{ steps.app_token.outputs.token }}
      - name: Set up Git name and email
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Create PR back to development
        run: bash ./make/buf/scripts/gobacktodevelopment.bash
        env:
          GH_TOKEN: ${{ steps.app_token.outputs.token }}
          WEBHOOK_URL: ${{ secrets.SLACK_RELEASE_NOTIFICATION_WEBHOOK }}
