name: Make upgrade
on:
  schedule:
    # Run every Monday at 10am UTC
    - cron: '0 10 * * 1'
env:
  APP_ID: 251311
jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub app token
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        id: app_token
        with:
          app-id: ${{ env.APP_ID }}
          private-key: ${{ secrets.TOKEN_EXCHANGE_GH_APP_PRIVATE_KEY }}
      - name: Checkout repository code
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app_token.outputs.token }}
      - name: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
          cache: false
      - name: Set up Git name and email
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Make upgrade
        run: bash ./make/buf/scripts/githubactionmakeupgrade.bash
        env:
          GH_TOKEN: ${{ steps.app_token.outputs.token }}
