name: windows
on: push
# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all
jobs:
  test:
    env:
      GOMODCACHE: 'd:\gomodcache'
      GOCACHE: 'd:\gocache'
      DOWNLOAD_CACHE: 'd:\downloadcache'
    runs-on: windows-2019
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup-go
        if: success()
        uses: actions/setup-go@v3 # this contains a fix for Windows file extraction
        with:
          go-version: 1.19.3
      - name: cache
        if: success()
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.GOCACHE }}
            ${{ env.GOMODCACHE }}
            ${{ env.DOWNLOAD_CACHE }}
          key: ${{ runner.os }}-buf-windows-${{ hashFiles('**/go.sum', 'windows/**') }}
          restore-keys: |
            ${{ runner.os }}-buf-windows-
      - name: test
        shell: bash
        if: success()
        run: ./windows/test.bash
