name: windows
on: push
# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all
jobs:
  test:
    env:
      GOMODCACHE: 'D:\gomodcache'
      GOCACHE: 'D:\gocache'
    runs-on: windows-2019
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup-go
        if: success()
        uses: actions/setup-go@v2.1.4 # this contains a fix for Windows file extraction
        with:
          go-version: 1.17.5
      - name: cache
        if: success()
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.GOCACHE }}
            ${{ env.GOMODCACHE }}
          key: ${{ runner.os }}-buf-windows-${{ hashFiles('**/go.sum', '.github/workflows/windows.yaml', 'windows/**') }}
          restore-keys: |
            ${{ runner.os }}-buf-windows-
      - name: test
        if: success()
        run: ./windows/test.ps1
